<%- include('partials/header.ejs') %>

    <h1 class="compose">Compose</h1>

    <form action="/compose" method="post">
        <div class="form-container">
            <div class="title">
                <label for="">Title</label>
                <input type="text" name="title">
            </div>
            <div class="post-content">
                <label for="">Post</label>
                <textarea name="postcontent" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="btn">
                <button class="btn btn-primary" type="submit">Publish</button>
            </div>
        </div>
    </form>

    <%- include('partials/footer.ejs') %>